#line{
	background-color: rgb(197,18,48);
	width: 100%;
	height: 4px;
}
#line3{
	background-color: rgb(197,18,48);
	width: 100%;
	height: 60px;
	display: flex;
}
#line31{
	display: flex;
	align-items: center;
	margin-left: 80px;
	font-family: 'Nunito Sans', sans-serif;
}
#line31 a{
	text-decoration: none;
	color: white;
	margin-right: 40px;
}
body{
	margin: 0;
	padding:0;
}
#line2{
	display: flex;
	color: rgb(38,59,87);
	font-family: 'Muli', sans-serif;
}
#ati{
	font-size: 25px;
	margin-top: 10px;
	margin-left: 50px;
	display: flex;
	align-items: center;
	margin-right: 260px;
}
#ati img{
	width: 70px;
	margin-right: 10px;
}
#prezident img{
	width: 150px;
	margin-bottom: -5px;
}
#soz{
	margin-top: 25px;
	font-size: 13px;
	margin-right: 10px;
}
#line32 img{
	width: 15px;
	margin-right: 15px;
}
#line32{
	display: flex;
	margin-left: 450px;
	align-items: center;
}
#login{
	color: white;
	font-family: 'Muli', sans-serif;	
	margin-left: 70px;
}
#line4{
	display: flex;
	margin-left: 820px;
}
#line41{
width: 0px;
height: 0px;
border-style: solid;
border-width: 0 50px 50px 0;
border-color: transparent rgb(38,59,87) transparent transparent;
}
#line42{
	width: 400px;
	height: 50px;
	background-color: rgb(38,59,87);
	display: flex;
	align-items: center;
	justify-content: center;
}
#line42 input{
	background-color: #004d99;
	padding: 5px;

}
::placeholder { 
  color: white;
  opacity: 1; 
}